* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}
*,*:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}

.option {
    background-color: #fff;
    color: black;
}

.header-line2 {
    background-color: #81D17C;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 850px;
}

.header-line1-p1 {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-left: 15px;
}

.header-line1-img1 {
    width: 35px;
    height: 55px;
}

.header-line1-input {
    border-top-left-radius:  12px;
    border-bottom-left-radius:  12px;
    width: 500px;
    height: 40px;
    padding: 14px 20px;
    margin-left: 70px;
    font-size: 14px;
}

.header-line1-btn1 {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-line1-img2 {
    padding: 12px;
    height: 40px;
}

.header-line1-img3 {
    width: 28px;
    height: 28px;
    margin-left: 100px;
}

.header-line1-img4 {
    width: 28px;
    height: 28px;
    margin-left: 30px;
}

.header-line1-img5 {
    width: 28px;
    height: 28px;
    margin-left: 30px;
}

.header-line3 {
    background-color: #D5F0D3;
    display: flex;
    align-items: center;
    min-width: 850px;
}

.category {
    display: none;
    position: absolute;
    margin-left: 200px;
    width: 170px;
    background-color: #fff;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
}

.category-p {
    padding: 10px 0px 10px 15px;
    color: #5F6C72;
}
.category-p:hover {
    background-color: #F2F4F5;
    color: #191C1F;
    cursor: pointer;
}
.header-line3-new-img {
    background-color: #F2F4F5;
    margin-left: 16px;
    margin-top: 6px;
}
.header-line3-new {
    display: flex;
    width: 148px;
    height: 38px;
    margin: 10px 40px 10px 200px;
    padding: 10px;
    background-color: #F2F4F5;
    border-radius: 2px;
}

.header-line3-a1 {
    color: #5f6c72;
    margin-left: 5px;
    transition: 0.3s;
}

.header-line3-a2 {
    color: #5f6c72;
    margin-left: 7px;
    transition: 0.3s;
}

.header-line3-a3 {
    color: #5f6c72;
    margin-left: 5px;
    transition: 0.3s;
}

.header-line3-a4 {
    color: #5f6c72;
    font-size: 16px;
    margin-left: 5px;
    transition: 0.3s;
}

.header-line3-img1 {
    margin-left: 10px;
}


.header-line3-img2 {
    margin-left: 20px;
}

.header-line3-img3 {
    margin-left: 20px;
}

.header-line3-img4 {
    margin-left: 290px;
}

.header-line3-a1:hover {
    color: #2DB224;
    transition: 0.3s;
}

.header-line3-a2:hover {
    color: #2DB224;
    transition: 0.3s;
}

.header-line3-a3:hover {
    color: #2DB224;
    transition: 0.3s;
}

.header-line3-a4:hover {
    color: #2DB224;
    transition: 0.3s;
}

.zakaz {
    margin-left: 200px;
}
.zakaz-p1 {
    margin-top: 50px;
    font-size: 20px;
    color: #191C1F;
    font-weight: 700;
}

.zakaz {
    margin-top: 20px;
    border-top: 1px solid #E4E7E9;
}

.zakaz-p2 {
    margin-top: 20px;
    color: #5F6C72;
    font-size: 14px;
    line-height: 24px;
    max-width: 750px;
}

.zakaz-id-adres {
    display: flex;
    margin-top: 25px;
}

.zakaz-id {
    color: #191C1F;
    font-weight: 400;
}

.zakaz-adres {
    margin-left: 315px;
    color: #191C1F;
    font-weight: 400;
}

.zakaz-input {
    margin-top: 15px;
}

.zakaz-input-id {
    border: 1px solid #E4E7E9;
    color: #77878F;
    border-radius: 2px;
    width: 370px;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.zakaz-input-adres {
    border: 1px solid #E4E7E9;
    color: #77878F;
    border-radius: 2px;
    margin-left: 11px;
    width: 370px;
    padding-top: 12px;
    padding-left: 16px;
    padding-bottom: 12px;
}

.zakaz-img-p {
    display: flex;
}

.zakaz-img1 {
    margin-top: 25px;
    height: 24px;
    width: 24px;
}

.zakaz-p3 {
    color: #5F6C72;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 8px;
}

.zakaz-btn1 {
    background-color: #2DB224;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-top: 30px;
    height: 45px;
    width: 230px;
}

.zakaz-p4 {
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 10px 5px 30px;
}

.zakaz-img2 {
    padding-right: 15px;
}

.zakaz-btn1:hover {
    background-color: #44c13b;
    transition: 0.5s;
}

.rassilka {
    background-color:  #ABE0A7;
    margin-top: 110px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rassilka-p1 {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}

.rassilka1 {
    background-color: #ABE0A7;
    display: flex;
    padding-bottom: 40px;
}

.rassilka1-input {
    margin-left: 480px;
    padding: 20px 0px 20px 20px;
    width: 340px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.rassilka1-btn {
    display: flex;
    align-items: center;
    background-color: #fff;
}

.rassilka1-p1 {
    background-color: #ABE0A7;
    color: #fff;
    font-weight: 700;
    padding: 11px;
    font-size: 14px;
}

.rassilka-img1 {
    background-color: #ABE0A7;
    padding: 7px 8px 8px 0px;
    margin-right: 10px;
}

.bottom {
    margin-top: 280px;
    display: flex;
    background-color: #191C1F;
    padding-bottom: 60px;
    min-height: 400px;
    max-height: 600px;
    min-width: 850px;
}

.bottom1 {
    display: block;
    margin-left: 300px;
    margin-top: 100px;
    padding-bottom: 10px;
}

.bottom2 {
    display: block;
    margin-top: 100px;
    margin-left: 100px;
}

.bottom1-line1 {
    display: flex;
    align-items: center;
}

.bottom1-p1 {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    margin-left: 15px;
}

.bottom1-p2 {
    color: #77878F;
    margin-top: 30px;
}

.bottom1-p3 {
    margin-top: 20px;
    color: #fff;
}

.bottom2-p1 {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.bottom2-p2 {
    color: #929FA5;
    margin-top: 20px;
}

.bottom2-vse-tovary {
    display: flex;
    align-items: center;
}

.bottom2-p7 {
    color: #57C150;
    margin-top: 20px;
}

.bottom2-img1 {
    margin-top: 20px;
    margin-left: 10px;
}

.bottom2-p2:hover {
    color: #938C8C;
    transition: 0.3s;
}

.bottom2-p7:hover {
    color: #04700f;
    transition: 0.3s;
}

.bottom1-p3:hover {
    color: #cce8cf;
    transition: 0.3s;
}

@media (max-width: 1370px) {
    .account {
        margin-left: 500px;
    }
}

@media (max-width: 1325px) {
    .bottom2 {
        margin-left: 70px;
    }

    .bottom1 {
        margin-left: 250px;
    }

    .account {
        margin-left: 480px;
    }
}

@media (max-width: 1300px) {
    .header-line1-img3 {
        margin-left: 70px;
    }

    .header-line1-img4 {
        margin-left: 20px;
    }

    .header-line3-img4 {
        margin-left: 30px;
    }
}

@media (max-width: 1274px) {
    .header-line1-p1 {
        font-size: 18px;
    }

    .header-line1-input {
        width: 400px;
    }

    .header-line1-img3 {
        margin-left: 40px;
    }

    .bottom2 {
        margin-left: 60px;
    }
}

@media (max-width: 1244px) {
    .account {
        margin-left: 460px;
    }
}

@media (max-width: 1204px) {
    .account {
        margin-left: 410px;
    }
}

@media (max-width: 1154px) {
    .account {
        margin-left: 410px;
    }
}

@media (max-width: 1124px) {
    .account {
        margin-left: 380px;
    }
}

@media (max-width: 1080px) {
    .zakaz {
        margin-left: 150px;
    }
    .header-line1-input {
        width: 300px;
    }

    .header-line2 {
        padding-left: 150px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 150px;
    }
    .category {
        margin-left: 150px;
    }
    
    .header-line3-a1 {
        font-size: 12px;
    }

    .header-line3-a4 {
        font-size: 12px;
    }

    .bottom1 {
        margin-left: 150px;
    }

    .bottom2-p2 {
        font-size: 12px;
    }

    .bottom1-p3 {
        font-size: 12px;
    }
    
    .bottom2-p7 {
        font-size: 12px;
    }
    .header-line3-a1 {
        font-size: 12px;
    }

    .header-line3-a4 {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    .zakaz {
        margin-left: 100px;
    }
    .header-line1-input {
        width: 300px;
    }

    .header-line2 {
        padding-left: 100px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 100px;
        width: 140px;
    }
    .header-line3-p {
        font-size: 12px;
        margin-left: 2px;
        margin-top: 1px;
    }
    .category {
        margin-left: 100px;
    }
    
    .bottom1 {
        margin-left: 100px;
    }
}

@media (max-width: 890px) {
    .zakaz {
        margin-left: 80px;
    }
    .zakaz-input-id {
        width: 330px;
    }
    .zakaz-input-adres {
        width: 330px;
    }
    .zakaz-p2 {
        max-width: 700px;
    }
    .zakaz-adres {
        margin-left: 275px;
    }
    .header-line1-input {
        width: 280px;
    }

    .header-line2 {
        padding-left: 80px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 80px;
    }
    .category {
        margin-left: 80px;
    }
    
    .bottom1 {
        margin-left: 80px;
    }

    .bottom1-p1 {
        font-size: 20px;
    }

    .bottom1-img1 {
        height: 60px;
        width: 40px;
    }

    .bottom2 {
        margin-left: 45px;
    }

    .account {
        margin-left: 230px;
    }
}

@media (max-width: 850px) {
    .zakaz-input-id {
        width: 300px;
    }
    
    .zakaz-input-adres {
        width: 300px;
    }
    .zakaz {
        margin-left: 55px;
    }
    .zakaz-p2 {
        max-width: 600px;
    }
    .zakaz-adres {
        margin-left: 245px;
    }
    .header-line2 {
        padding-left: 55px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 55px;
    }
    .category {
        margin-left: 55px;
    }
    
    .bottom1 {
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .header-line3-a4 {
        display: none;
    }

    .header-line3-img4 {
        display: none;
    }
    .header-line1-input {
        width: 240px;
    }
}
@media (max-width: 770px) {
    .zakaz {
        margin-left: 55px;
    }
    .header-line3-a4 {
        display: none;
    }

    .header-line3-img4 {
        display: none;
    }

    .header-line1-input {
        width: 210px;
        margin-left: 30px;
    }

    .header-line2 {
        padding-left: 50px;
    }

    .header-line3-new {
        margin: 10px 40px 10px 50px;
    }
    .category {
        margin-left: 50px;
    }

    .bottom1 {
        margin-left: 50px;
    }

    .bottom2 {
        margin-left: 34px;
    }

    .account {
        margin-left: 150px;
    }
} 